header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    background-color: rgba(80, 112, 250, 0.953);
    align-items: center;
}
.head_link{
    text-decoration: none;
    color: #000;
    font-size: larger;
    font-weight: 700;

}
.mainh{
    text-align: center;
}
.mainh4{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.types_flex{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 40px;
}
.type_item{
width: 430px;
}
.allgallery{
   display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
flex-shrink: 3;
}
.galery{
    width: 22%;
 text-align: center;
 
 min-width: 300px;
}
.galery p{
    width: 100%;
    
}
.galery img{
     width: 100%;
    
}
